/* general styles */
body {
    background-color: #ebedef;
}

table {
    margin: 0 auto;
}

table td, table th {
    border-collapse: collapse;
    border: 10px solid rgba(255, 0, 0, 0);
}

table td, table th {
    vertical-align: top;
}

/* make link stretch to whole cell */
td {
    overflow: hidden;
}

.page-container {
    margin: 0 auto;
    padding: 0 32px;
    width: 1024px;
}

.next_char {
    display: block;
    background-color: orange;
    padding-top: 6px;
    padding-bottom: 6px;
}

.title_row {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

.navigation_row {
    text-align: center;
}

.species_row {
    vertical-align: top;
}

.def_row {
    vertical-align: top;
}

.def_item {
    color: red !important;
}

.imgtile {
    width: 512px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.imgtile .image {
    width: 512px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.description {
}
.main_section {
    margin-top: 32px;
}

.graph_section {
    padding-top: 32px;
}
.graph_section svg {
    width: 100%;
}